<tr class="row">
  <td class="col-md-2">
    <% if result.answer.try(:is_correct?) %>
      <i class="glyphicon glyphicon-ok"></i>
    <% else %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </td>
  <td class="col-md-4"><%= result.word.content %></td>
  <td class="col-md-2"><%= result.answer.try :content %></td>
  <td class="col-md-4">
    <%= result.word.answers.find_by(is_correct: true).content %>
  </td>
</tr>
