<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("pages.website"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("title.home"), "#" %></li>
        <li><%= link_to t("title.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>